.BidList ul {
  list-style-type: none;
  margin: 20px;
  padding: 10px;
  background-color: #c0c0c0;
}

.BidList li {
  display: block;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

.BidList li:hover {
  font-weight: bold;
}

.BidList a {
  color: #000000;
}
