.Welcome {
  padding: 20px;
}

.Welcome ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  margin: auto;
}

.Welcome a {
  background-color: #c0c0c0;
  border: 0.5px solid #a0a0a0;
  color: #000000;
  display: block;
  padding: 32px 16px;
  margin: 32px 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
}

.Welcome a:hover {
  font-weight: bold;
}
