.Header {
  background-color: #c0c0c0;
  border-bottom: 1.5px solid #a0a0a0;
  box-sizing: border-box;
  color: black;
  display: block;
  font-size: 24px;
  font-weight: bold;
  height: 70px;
  line-height: 36px;
  padding: 16px;
  text-align: center;
  width: 100%;
}
