.BidderForm {
  background-color: #d4d4d4;
  border: 0.5px solid #a1a1a1;
  padding: 16px;
  margin: 16px;
}

.BidderForm input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #e6e6e6;
}

.BidderForm label {
  font-weight: bold;
}

.BidderForm button {
  width: 100%;
  background-color: #e6e6e6;
  color: #000000;
  padding: 14px 20px;
  margin: 8px 150px 0 0;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
